/*
プラグインの結果集計テーブル用CSS
*/

#PitaResultTable *{
font-size:small;
}

#PitaResultTable .PitaLabel{
font-weight:bold;
}
#PitaResultTable td{
 border: 1px solid;
 padding:2px 4px;
 width:32px;
}

.Pita_selected{
background-color:#cccccc;
}